@font-face {
  font-family: aqw;
  src: url(BLKCHCRY.TTF);
}

body {
    background-color: wheat;
    font-family:aqw;
    font-weight: 600;
    color: chocolate;
}

.conteudo {
    background-color: wheat;
    margin-left:auto;
    margin-right:auto;
    font-family:aqw;
    font-weight: 600;
    width: 30%;
    color: chocolate;
}

ul, ol {
    padding-inline-start: 20px;
}

p, li {
    text-align: left;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navegacao p{
    text-align: center;
}


.links {
    color: #2D6E63;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: chocolate;
}

h1, h2, h3, h4 {
    text-align: center;
}

.card-title{

}

.cards-container {
    margin: 0 auto;
    width: 100%;
}

.card-container {
    border: 2px solid chocolate;
    border-radius: 2px;
    padding: 6px;
    margin: 10px 0;
    cursor: pointer;
}

.card-container:hover {
    border: 2px solid #2D6E63;
}

.card-container:hover h2 {
    color: #2D6E63;
}
.center-container {
    margin-top: 45px;
    display: flex;
    
}
